<h2>Hello. I'm Asuka</h2>
<p><img src="https://en.gravatar.com/userimage/67011689/55a85bf72e9888f7c5fb8e5fcc71766b.jpeg" alt="Asuka Koori" title="Follow me on Twitter @asuka_koori"  class="img-rounded floatLeft" />			
Python Developer, Japanese Student, Cultural Anthropologist.</p>					
<p><iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=asukakoori&repo=asukakoori.github.com&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="80px" height="20px"></iframe>&nbsp;<iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=asukakkori&repo=asukakkori.github.com&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="98px" height="20px"></iframe></p>
<p><a href="https://twitter.com/asuka_koori" class="twitter-follow-button" data-link-color="#0069D6" data-show-count="true">Follow @asuka_koori</a></p>
<p>
	<ul class="buttons unstyled">
	  <li><a href="http://github.com/asukakoori" rel="me" class="social github" title="Go to github.com/asukakoori" target="_blank"></a></li>
	  <li><a href="http://www.linkedin.com/pub/eric-jones/a/848/1b3" rel="me" class="social linkedin" title="Go to LinkedIn profile" target="_blank"></a></li>
	  <li><a href="http://www.twitter.com/asuka_koori" rel="me" class="social twitter" title="Go to twitter.com/asuka_koori" target="_blank"></a></li>
	  <li><a href="http://feeds.feedburner.com/github/xmyo" rel="me" class="social rss" title="Go to feedburner asukakoori rss feed" target="_blank"></a></li>
	  <li><a href="https://plus.google.com/u/0/114561259331203581412/posts" rel="me" class="social gplus" title="Go to Google Plus profile" target="_blank"></a></li> 
	  <li><a href="https://github.com/asukakoori/Feedback/issues/new" rel="me" class="social mail" title="Leave feedback for Eric"  target="_blank"></a></li>				
	</ul>
</p>